.allCar{
    float: left;
    width: 30%;
    box-sizing: border-box;
    padding: 10px;
    min-width: 150px;
}

.oneCar{
    width: 45%;
    box-sizing: border-box;
    padding: 10px;
    min-width: 150px;
}

.largeDiv{
    float: left;
}

.operation{
    float: left;
    color: #0b2e13;
    margin: 10px;
    /*border: 1px solid #b21f2d;*/
}

tr{
    display: block;
    color: #0b2e13;
    margin: 10px;
}
td{
    margin-left: 10px;
}
